In [66]:
#assignment opreators

In [67]:
a = 5
b = 6
print(a,b)
x = 22

x += 5
print(x)

x -= 5
print(x)

x %=5
print(x)

5 6
27
22
2

In [68]:
#arithmetic opreator

In [69]:
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

11
-1
30
0.8333333333333334
0
15625
5

In [70]:
print(a&b)
print(a|b)
print(a^b)
print(~b)
print(~a)

4
7
3
-7
-6

In [71]:
#comparison opreator

In [72]:
i = 9
print(i==8, i==9)
print(i!=9, i!=8)
print(i>10, i>8)
print(i<8, i<90)
print(i>=9)
print(i<=2)

False True
False True
False True
False True
True
False

In [73]:
#logical opreator

In [74]:
p = 0
q = 1
#and
print( p and q)
print( q and p)
print( q and q)
print( p and p)
print("\n")
#or
print( p or q)
print( q or p)
print( q or q)
print( p or p)

0
0
1
0


1
1
1
0

In [75]:
#identical operator

In [76]:
j = 99
k = 65
print( a is b)
print( a is not b)

False
True

In [77]:
#membership opreator

In [78]:
l1 = [1,2,3,4,5,6,7]
print(1 in l1)
print(99 in l1)
print(90 not in l1)

True
False
True