In [19]:
#swap two no's
a=1
b=8
print(a,b)
a,b= b,a
print(a,b)

1 8
8 1

In [20]:
#list are mutable(we can update)

In [21]:
subject= ["Maths", "Science", "Hindi", "English"]
print(subject)
print(subject[2])

numbers= [20, 50, 80, 50]
print("1.",numbers)
print("2.",numbers[:])
print("3.",numbers[2])
print("4.",numbers[1:5])
print("5.",numbers[::2])

print("6. Max is ",max(numbers))
print("7. Min is ",min(numbers))
print("8. ", numbers[::-1])

numbers.pop()
numbers.append(70)
numbers.reverse()
print("reverse list. ",numbers)

numbers.insert(2,55)
numbers.remove(50)
numbers.sort()
print("sorted list. ",numbers)

print(len(numbers))

['Maths', 'Science', 'Hindi', 'English']
Hindi
1. [20, 50, 80, 50]
2. [20, 50, 80, 50]
3. 80
4. [50, 80, 50]
5. [20, 80]
6. Max is  80
7. Min is  20
8.  [50, 80, 50, 20]
reverse list.  [70, 80, 50, 20]
sorted list.  [20, 55, 70, 80]
4

In [22]:
#tuples are immutable (we cannot update)
#to create a single vallued tuple we use a comma after the that no.

In [23]:
tp=(1,)
tp1=(1,2,3,4,5,6,7,8)
print(tp)
print(tp1)
print(tp1[5])
print(tp1[1:8])
print(tp1[::-1])

(1,)
(1, 2, 3, 4, 5, 6, 7, 8)
6
(2, 3, 4, 5, 6, 7, 8)
(8, 7, 6, 5, 4, 3, 2, 1)