In [1]:
t = (10,12,1,48,63,12,49,45,21,90,17,6,32)
t.reverse()                                  # this will throw an error as we cannot reverse a tuple
print(t)

AttributeError: 'tuple' object has no attribute 'reverse'

In [13]:
t = (10,12,1,48,63,12,49,45,21,90,17,6,32)
l = list(t)                                   # we need to typecast the tuple into list to reverse the tuple
l.reverse() 
l = tuple(l)                                          # and again will typecast the list into tuple
print(l)
print(type(l))

(32, 6, 17, 90, 21, 45, 49, 12, 63, 48, 1, 12, 10)
<class 'tuple'>

In [14]:
t = (10,12,1,48,63,12,49,45,21,90,17,6,32)
l = list(t)                                   # we need to typecast the tuple into list to sort the tuple
l.sort() 
l = tuple(l)                                          # and again will typecast the list into tuple
print(l)
print(type(l))

(1, 6, 10, 12, 12, 17, 21, 32, 45, 48, 49, 63, 90)
<class 'tuple'>