In [2]:
import numpy as np
import pandas as pd

In [4]:
series = pd.Series(np.random.rand(5))      # series is datastructure in pandas

In [9]:
series

0    0.397493
1    0.821860
2    0.712028
3    0.119336
4    0.402195
dtype: float64

In [10]:
type(series)

pandas.core.series.Series

In [32]:
dataframe = pd.DataFrame(np.random.rand(10,5))   # here 10 is row and 5 is column

In [33]:
dataframe

          0         1         2         3         4
0  0.573449  0.186884  0.794991  0.517485  0.281166
1  0.558461  0.739984  0.232611  0.304601  0.547140
2  0.635763  0.645577  0.436356  0.854407  0.795434
3  0.542953  0.562664  0.237794  0.435611  0.534821
4  0.897855  0.517342  0.854448  0.203163  0.760965
5  0.882789  0.589554  0.559739  0.958911  0.102154
6  0.003412  0.838461  0.639499  0.696273  0.996290
7  0.621162  0.389306  0.455008  0.326920  0.922531
8  0.106797  0.822987  0.841215  0.711649  0.405512
9  0.631744  0.956624  0.811750  0.878545  0.328628

In [34]:
type(dataframe)

pandas.core.frame.DataFrame

In [35]:
dataframe.index

RangeIndex(start=0, stop=10, step=1)

In [36]:
dataframe.columns

RangeIndex(start=0, stop=5, step=1)

In [37]:
dataframe.T  # Transpose rows into column and column int0 rows

,0,1,2,3,4,5,6,7,8,9
0,0.573449,0.558461,0.635763,0.542953,0.897855,0.882789,0.003412,0.621162,0.106797,0.631744
1,0.186884,0.739984,0.645577,0.562664,0.517342,0.589554,0.838461,0.389306,0.822987,0.956624
2,0.794991,0.232611,0.436356,0.237794,0.854448,0.559739,0.639499,0.455008,0.841215,0.811750
3,0.517485,0.304601,0.854407,0.435611,0.203163,0.958911,0.696273,0.326920,0.711649,0.878545
4,0.281166,0.547140,0.795434,0.534821,0.760965,0.102154,0.996290,0.922531,0.405512,0.328628

In [39]:
# by default sorting is in ascending order ascending = False will sort oin descending order
dataframe.sort_index(axis =0, ascending = False)  # axis = 0 means row

          0         1         2         3         4
9  0.631744  0.956624  0.811750  0.878545  0.328628
8  0.106797  0.822987  0.841215  0.711649  0.405512
7  0.621162  0.389306  0.455008  0.326920  0.922531
6  0.003412  0.838461  0.639499  0.696273  0.996290
5  0.882789  0.589554  0.559739  0.958911  0.102154
4  0.897855  0.517342  0.854448  0.203163  0.760965
3  0.542953  0.562664  0.237794  0.435611  0.534821
2  0.635763  0.645577  0.436356  0.854407  0.795434
1  0.558461  0.739984  0.232611  0.304601  0.547140
0  0.573449  0.186884  0.794991  0.517485  0.281166

In [49]:
dataframe.sort_index(axis =1)    # axis = 1 means column

          0         1         2         3         4
0  0.573449  0.186884  0.794991  0.517485  0.281166
1  0.558461  0.739984  0.232611  0.304601  0.547140
2  0.635763  0.645577  0.436356  0.854407  0.795434
3  0.542953  0.562664  0.237794  0.435611  0.534821
4  0.897855  0.517342  0.854448  0.203163  0.760965
5  0.882789  0.589554  0.559739  0.958911  0.102154
6  0.003412  0.838461  0.639499  0.696273  0.996290
7  0.621162  0.389306  0.455008  0.326920  0.922531
8  0.106797  0.822987  0.841215  0.711649  0.405512
9  0.631744  0.956624  0.811750  0.878545  0.328628

In [53]:
dataframe.column = list("ABCDE")

In [54]:
dataframe.head(2)

          0         1         2         3         4
0  0.573449  0.186884  0.794991  0.517485  0.281166
1  0.558461  0.739984  0.232611  0.304601  0.547140

In [56]:
dataframe.loc()    # location of dataframe which we have created

In [84]:
dataframe.loc[0,0]

0.5734493417112845

In [85]:
dataframe.drop(0)   # it remove all the elements at 0th intex in row
# it will not remove the index permanently

          0         1         2         3         4
1  0.558461  0.739984  0.232611  0.304601  0.547140
2  0.635763  0.645577  0.436356  0.854407  0.795434
3  0.542953  0.562664  0.237794  0.435611  0.534821
4  0.897855  0.517342  0.854448  0.203163  0.760965
5  0.882789  0.589554  0.559739  0.958911  0.102154
6  0.003412  0.838461  0.639499  0.696273  0.996290
7  0.621162  0.389306  0.455008  0.326920  0.922531
8  0.106797  0.822987  0.841215  0.711649  0.405512
9  0.631744  0.956624  0.811750  0.878545  0.328628

In [87]:
dataframe.head()  # index not removed permanently

          0         1         2         3         4
0  0.573449  0.186884  0.794991  0.517485  0.281166
1  0.558461  0.739984  0.232611  0.304601  0.547140
2  0.635763  0.645577  0.436356  0.854407  0.795434
3  0.542953  0.562664  0.237794  0.435611  0.534821
4  0.897855  0.517342  0.854448  0.203163  0.760965

In [88]:
dataframe.drop(0, axis = 1)  # asix =1 rmeove all the elements ot 0th index in column
# it will not remove the index permanently

          1         2         3         4
0  0.186884  0.794991  0.517485  0.281166
1  0.739984  0.232611  0.304601  0.547140
2  0.645577  0.436356  0.854407  0.795434
3  0.562664  0.237794  0.435611  0.534821
4  0.517342  0.854448  0.203163  0.760965
5  0.589554  0.559739  0.958911  0.102154
6  0.838461  0.639499  0.696273  0.996290
7  0.389306  0.455008  0.326920  0.922531
8  0.822987  0.841215  0.711649  0.405512
9  0.956624  0.811750  0.878545  0.328628

In [91]:
dataframe.loc[(dataframe[0]<.058)]    # return the table where value is less than 0.58 at 0th index of column

          0         1         2         3        4
6  0.003412  0.838461  0.639499  0.696273  0.99629

In [98]:
dataframe.loc[(dataframe[0]<.058) & (dataframe[3]> 1)] 
# here no any value is less than 1 so it returned nothing

Empty DataFrame
Columns: [0, 1, 2, 3, 4]
Index: []

In [101]:
dataframe.iloc[0,4]   # it will only return the value at mentioned index

0.2811660944183809

In [106]:
dataframe.isnull()   # it will return True where value is Null and False where value is not null

       0      1      2      3      4
0  False  False  False  False  False
1  False  False  False  False  False
2  False  False  False  False  False
3  False  False  False  False  False
4  False  False  False  False  False
5  False  False  False  False  False
6  False  False  False  False  False
7  False  False  False  False  False
8  False  False  False  False  False
9  False  False  False  False  False

In [108]:
dataframe.drop_duplicates() # remove duplicates values

          0         1         2         3         4
0  0.573449  0.186884  0.794991  0.517485  0.281166
1  0.558461  0.739984  0.232611  0.304601  0.547140
2  0.635763  0.645577  0.436356  0.854407  0.795434
3  0.542953  0.562664  0.237794  0.435611  0.534821
4  0.897855  0.517342  0.854448  0.203163  0.760965
5  0.882789  0.589554  0.559739  0.958911  0.102154
6  0.003412  0.838461  0.639499  0.696273  0.996290
7  0.621162  0.389306  0.455008  0.326920  0.922531
8  0.106797  0.822987  0.841215  0.711649  0.405512
9  0.631744  0.956624  0.811750  0.878545  0.328628

In [110]:
dataframe.shape    # to get shape of dataset

(10, 5)

In [112]:
dataframe.info()      # information about dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     float64
 1   1       10 non-null     float64
 2   2       10 non-null     float64
 3   3       10 non-null     float64
 4   4       10 non-null     float64
dtypes: float64(5)
memory usage: 528.0 bytes

In [113]:
dataframe.mean()

0    0.545438
1    0.624938
2    0.586341
3    0.588757
4    0.567464
dtype: float64

In [114]:
dataframe.corr()

          0         1         2         3         4
0  1.000000 -0.421621 -0.091448 -0.143189 -0.302893
1 -0.421621  1.000000  0.052691  0.447551  0.036279
2 -0.091448  0.052691  1.000000  0.211686 -0.203657
3 -0.143189  0.447551  0.211686  1.000000 -0.409789
4 -0.302893  0.036279 -0.203657 -0.409789  1.000000

In [115]:
dataframe.count()

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [118]:
dataframe.max()

0    0.897855
1    0.956624
2    0.854448
3    0.958911
4    0.996290
dtype: float64

In [119]:
dataframe.min()

0    0.003412
1    0.186884
2    0.232611
3    0.203163
4    0.102154
dtype: float64

In [120]:
dataframe.median()

0    0.597305
1    0.617565
2    0.599619
3    0.606879
4    0.540980
dtype: float64

In [121]:
dataframe.mode()

          0         1         2         3         4
0  0.003412  0.186884  0.232611  0.203163  0.102154
1  0.106797  0.389306  0.237794  0.304601  0.281166
2  0.542953  0.517342  0.436356  0.326920  0.328628
3  0.558461  0.562664  0.455008  0.435611  0.405512
4  0.573449  0.589554  0.559739  0.517485  0.534821
5  0.621162  0.645577  0.639499  0.696273  0.547140
6  0.631744  0.739984  0.794991  0.711649  0.760965
7  0.635763  0.822987  0.811750  0.854407  0.795434
8  0.882789  0.838461  0.841215  0.878545  0.922531
9  0.897855  0.956624  0.854448  0.958911  0.996290

In [122]:
dataframe.std()

0    0.288002
1    0.229156
2    0.240618
3    0.267653
4    0.294884
dtype: float64